.appvide {
    display: flex;
    align-items: center;
  }
  
  .appcanvas {
    position: absolute;
    top: 100px;
  }
  
  .myapp {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
  }
  
  /* Responsive adjustments */
  @media only screen and (max-width: 768px) {
    .appcanvas {
      top: 80px; /* Adjust canvas position for smaller screens */
    }
  }
  